<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mercado Liebre</title>
  <link href="css/styles.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
  <header class="main-header">
      <section class="contenedor-top">
          <div class="logo">
              <img src="/images/logo-mercado-liebre.svg" alt="logo">
          </div>
          <div class="buscador">
              <button class="boton"><input class="buscar" type="text" Placeholder="Buscar productos, marca"><i
                      class="fa-solid fa-magnifying-glass"></i></button>
          </div>
          <h2 class="copy-header">
              <i class="fa-solid fa-hand-holding-dollar"></i>
              Comprá en cuotas y sin tarjeta de crédito!
          </h2>
      </section>
      <a href="#" class="burguer-menu">
          <i class="fas fa-bars"></i>
      </a>
      <nav class="main-navbar">
          <ul class="left-navbar">
              <li><a href="#ofertas">Ofertas</a></li>
              <li><a href="#">Tiendas oficiales</a></li>
              <li><a href="#">Vende</a></li>
              <li><a href="#">Ayuda</a></li>
          </ul>
  
          <ul class="right-navbar">
              <li><a href="register">Creá tu cuenta<i class="fa-regular fa-id-card"></i></a></li>
              <li><a href="login">Ingresá<i class="fa-solid fa-right-to-bracket"></i></a></li>
              <li><a href="#">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
          </ul>
      </nav>
  </header>
  <section class="banner">
      <img src="/images/img-home-banner.jpg" alt="home-banner">
  </section>
  <main>
      <h2>Basado en tu última visita</h2>
      <div class="articulos-juntos">
          <article class="articulos">
              <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
              <div class=container-articulos>
                  <i class="fa-solid fa-truck"></i>
                  <h3 class="descripciones">Cafetera Moulinex</h3>
                  <div class="contenido-precio-desc">
                      <p class="elemento-1 precios">$6770</p>
                      <p class="elemento-2 descuentos">40% off</p>
                  </div>
              </div>    
          </article>
      </article>
      <article class="articulos">
          <img src="/images/img-macbook-pro-2019.jpg" alt="mac">
          <div class=container-articulos>
              <i class="fa-solid fa-truck"></i>
              <h3 class="descripciones">Macbook Pro 2019</h3>
              <div class="contenido-precio-desc">
                  <p class="elemento-1 precios">$230000</p>
                  <p class="elemento-2 descuentos">20% off</p>
              </div>
          </div>
      </article>
      <article class="articulos">
          <img src="/images/img-samsung-galaxy-s10.jpg" alt="s10">
          <div class=container-articulos>
              <i class="fa-solid fa-truck"></i>
              <h3 class="descripciones">Samsung Galaxy S10</h3>
              <div class="contenido-precio-desc">
                  <p class="elemento-1 precios">$70500</p>
                  <p class="elemento-2 descuentos">10% off</p>
              </div>
          </div>
      </article>
      <article class="articulos">
          <img src="/images/img-tv-samsung-smart.jpg" alt="smart">
          <div class=container-articulos>
              <i class="fa-solid fa-truck"></i>
              <h3 class="descripciones">SmartTv Samsung 43"</h3>
              <div class="contenido-precio-desc">
                  <p class="elemento-1 precios">$23200</p>
                  <p class="elemento-2 descuentos">5% off</p>
              </div>
          </div>
      </article>
      </div>
          <h2 id="Ofertas">Ofertas</h2>
          <section class="articulos-juntos">
          <article class="articulos">
              <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
              <div class=container-articulos>
                  <i class="fa-solid fa-truck"></i>
                  <h3 class="descripciones">Cafetera Moulinex</h3>
                  <div class="contenido-precio-desc">
                      <p class="elemento-1 precios">$6770</p>
                      <p class="elemento-2 descuentos">40% off</p>
                  </div>
              </div>
          </article>
          <article class="articulos">
              <img src="/images/img-macbook-pro-2019.jpg" alt="mac">
              <div class=container-articulos>
                  <i class="fa-solid fa-truck"></i>
                  <h3 class="descripciones">Macbook Pro 2019</h3>
                  <div class="contenido-precio-desc">
                      <p class="elemento-1 precios">$230000</p>
                      <p class="elemento-2 descuentos">20% off</p>
                  </div>
              </div>
          </article>
          <article class="articulos">
              <img src="/images/img-samsung-galaxy-s10.jpg" alt="s10">
              <div class=container-articulos>
                  <i class="fa-solid fa-truck"></i>
                  <h3 class="descripciones">Samsung Galaxy S10</h3>
                  <div class="contenido-precio-desc">
                      <p class="elemento-1 precios">$70500</p>
                      <p class="elemento-2 descuentos">10% off</p>
                  </div>
              </div>
          </article>
          <article class="articulos">
              <img src="/images/img-tv-samsung-smart.jpg" alt="smart">

              <div class=container-articulos>
                  <i class="fa-solid fa-truck"></i>
                  <h3 class="descripciones">SmartTv Samsung 43"</h3>
                  <div class="contenido-precio-desc">
                      <p class="elemento-1 precios">$23200</p>
                      <p class="elemento-2 descuentos">5% off</p>
                  </div>
              </div>
          </article>
      </section>
  </main>      
  <footer> 
      <div class="margen-icono-footer">
          <div class="icono-footer"><i class="fa-solid fa-credit-card"></i></div>
          <h4>Pagá con tarjeta o en efectivo</h4>
          <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. Y siempre es
              seguro!</p>
      </div>
      <div class="margen-icono-footer">
          <div class="icono-footer"><i class="fa-solid fa-gift"></i></div>
          <h4>Envío gratis desde $2500</h4>
          <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
              Mercado Puntos. </p>
      </div>
      <div class="margen-icono-footer">
          <div class="icono-footer"><i class="fa-solid fa-user-shield"></i></div>
          <h4>Seguridad, de principio a fin</h4>
          <p>No te gusta? Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
              protegid@.</p>
      </div> 
  </footer>

  <div class="margen-copyright">
      Copyright ©️ 1999-2020 MercadoLiebre S.R.L.
  </div>
</body>

</html>