
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

.container-register {
	display: flex;
	width: 100Vw;
	justify-content: center;
	align-items: center;
}
.container-register form {
	background-color: #f5f5f5;
	border-radius: 8px;
	padding: 20px;
	box-shadow: 0 0 10px #b30000;
width: 400px;
	margin: 0 10px;
}
.container-register h1 {
	font-size: 35px;
	text-align: center;
}
.container-register label {
	display: block;
	font-weight: 600;
}
.container-register input,
.container-register button,
.container-register .checkbox {
	padding: 10px;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.checkbox input {
	width: 10px;
	margin: 0;
	margin-right: 10px;
	margin-bottom: 2px;
}
.button-register {
	display: flex;
	width: 100%;
	justify-content: center;
}
.container-form {
	display: flex;
	flex-direction: column;
}
.container-form input {
	margin-top: 5px;
	margin-bottom: 10px;
}
.checkbox input {
	margin: 0;
	margin-right: 5px;
}
.container-register button[type="submit"] {
	background-color: #1e90ff;
	color: #fff;
	border: none;
	border-radius: 4px;
	width: 150;
}
.perfil {
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
.perfil input {
margin-right: 6px;
}
.perfil label {
	margin-right: 6px;
	}
.intereses {
	display: flex;
	flex-direction: row;
	}
.intereses {
	margin-right: 6px;
}
.botones {
    display: flex;
    width: 100vw;
    max-width: 350px;
    background-color: #ebebeb;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    position: relative;
}
.botones input {
    background-color: #EAC926;
	border: none;
    cursor: pointer;
}
.botones input:hover {
    background-color: #0022AA;
    color: white;
}
		

@media (max-width: 768px) {
	.container-register h1 {
		font-size: 25px;
		margin-bottom: 40px;
	}

	.container-register input,
	.container-register button,
	.container-register .checkbox {
		font-size: 16px;
	}
}

@media (max-width: 418px) {
	.container-register {
		display: flex;
	justify-content: center;
	align-items: center;
		width:90%;
	}
	.container-register h1 {
		font-size: 15px;
		margin-bottom: 20px;
	}


	.container-register input,
	.container-register button,
	.container-register .checkbox {
		font-size: 10px;
	}
}

